/* variables */
:root {
    --source: 'Source Sans Pro', sans-serif;
    --inter: 'Inter', sans-serif;
    --roboto: 'Roboto', sans-serif;



    /* colors */
    --dark: #414141;
    --orange: #F15A46;
    --orange1: #E3402B;
    --dark1: #111111;
    --muted: #6E6E6E;
    --inactive: #F3F3F3;
    --strategy: #F47F6F;
    --footer: #D63722;


    /* gaps */
    --hundred: 100px;
    --sixty: 60px;
    --fifty: 50px;
    --seventy: 70px;


    /* sizes */
    --twelve: 12px;
    --twentyTwo: 22px;
    --twentyFour: 24px;
    --twenty: 20px;
    --thirty: 30px;
    --thirtyFour: 34px;
    --fourty: 40px;
    --fourtyFive: 45px;


    /* percentages */
    --twentyP: 20%;
}


/* universal */

.source {
    font-family: var(--source)
}

.inter,
* {
    font-family: var(--inter)
}

.roboto {
    font-family: var(--roboto)
}

.fs-22 {
    font-size: var(--twentyTwo);
}

body,
html {
    overflow-x: hidden;
}



/* header part */
.img-fluid.logo {
    height: var(--fifty);
}

.dark {
    color: var(--dark) !important;
}

.nav-link {
    border-top: 2px solid transparent;
}

.nav-link.active,
.nav-link:hover {
    border-top: 2px solid var(--orange);
}

.btn-orange {
    background-color: var(--orange) !important;
}

/* banner area */
.header-title-xl {
    font-size: var(--seventy);
}

.title {
    color: var(--dark1);
}

.muted {
    color: var(--muted);
}

.subtitle-xl {
    font-size: 32px;
}

.py-100 {
    padding-top: var(--hundred);
    padding-bottom: var(--hundred);
}

.btn-dark {
    font-size: var(--twentyTwo);
    background-color: var(--dark1) !important;
}

.mt-60 {
    margin-top: var(--sixty);
}

.mb-50 {
    margin-bottom: var(--fifty);
}

.fs-28 {
    font-size: 28px;
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
}


/* counter */
.counter-text {
    font-size: 52px;
    font-weight: 800;
}

.fs-20 {
    font-size: var(--twenty);
}


/* services */
.bg-orange {
    background-color: var(--orange);
}

.fs-34 {
    font-size: var(--thirtyFour);
}

.fw-semibold.fs-34.text-white.pt-3.mb-5 {
    margin-bottom: 0 !important;
    height: 120px;
}


/* help */
.fs-24 {
    font-size: var(--twentyFour);
}

.text-orange {
    color: var(--orange);
}

.mt-50 {
    margin-top: var(--fifty);
}

.fs-30 {
    font-size: var(--thirty);
}

.fs-40 {
    font-size: var(--fourty);
}

.btn-inactive {
    background-color: var(--inactive);
    color: var(--dark);
}

.btn-inactive:hover,
.btn-inactive.active {
    background-color: var(--orange) !important;
    color: white !important;
}


/* be with lskit */
.fs-45 {
    font-size: var(--fourtyFive);
}


/* cards */
.fs-12 {
    font-size: var(--twelve);
}


/* working process */
form input {
    height: 55px;
}



/* figure */
.fs-50 {
    font-size: var(--fifty);
}


/* ready to grow */
.ready-to-grow.py-5 .container {
    background: url("../img/lines.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
}


/* steps */
.item {
    width: var(--twentyP);
    padding: var(--twentyFour);
}


/* cards */
.cardds.py-100 .card p {
    height: 250px;
}

/* strategy */
.strategy,
.bg-orange-1 {
    background-color: var(--strategy);
}

span.text-orange.bg-white {
    display: flex;
    width: 50px;
    height: 65px;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.bg-orange-1 {
    background-color: var(--orange1);
}

.col-md-6.p-0.bg-orange.py-100 {
    padding: 50px 0 !important;
}

/* footer */
.footer {
    background-color: var(--footer);
    border-radius: 20px 20px 0 0 !important;
    position: relative;
    top: -20px;
    margin-bottom: -20px;
}

.avatar {
    min-width: 80px;
    width: 100px;
}

.item {
    width: 33.33%;
}



/* to top */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.back-to-top img {
    width: 40px;
}


/* whatsapp */
.whatsapp {
    position: fixed;
    right: 0;
    bottom: 130px;
    z-index: 100;
    background: white;
    width: 60px;
    padding: 10px;
    border-radius: 30px 0 0 30px;
}

.whatsapp img {
    width: 30px;
}



/* hero about */
.about-hero {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)), url("../img/about-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 250px;
}

.header.floating {
    position: absolute;
    width: 100%;
    background: #8899A799;
    padding: 0 !important;
}

.header.floating .nav-link {
    color: white !important;
}




/* reponsiveness */
@media screen and (max-width: 992px) {
    .header-title-md {
        font-size: 50px !important;
    }

    .subtitle-md {
        font-size: 18px;
    }

    .counter-text {
        font-size: var(--twentyFour);
        font-weight: 800;
    }

    .success.py-5 br {
        display: none;
    }

    .success .d-flex.align-items-center.justify-content-between.flex-wrap {
        justify-content: center !important;
    }

    .working .col-lg-6.text-end {
        display: none;
    }

    .processes.bg-orange.py-100 .d-flex {
        flex-direction: column;
    }

    .cardds.py-100 .card p {
        height: auto;
    }

    .cardds.py-100 .card {
        height: 100%;
    }

    .fs-50 {
        font-size: var(--twentyFour);
    }

    .sliderSection .col-md-3.p-2.m-auto {
        display: none;
    }

    .sliderSection .col-md-9 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media screen and (max-width: 767px) {
    .header-title-xm {
        font-size: 26px;
        font-weight: bold;
    }

    .py-100 {
        padding-top: var(--fifty);
        padding-bottom: var(--fifty);
    }

    .header-title-md {
        font-size: 30px !important;
    }

    .fs-40 {
        font-size: var(--twentyFour);
    }

    .ps-5 {
        padding-left: 1rem !important;
    }

    .fs-45 {
        font-size: var(--twentyFour);
    }

    .input-group {
        flex-direction: column;
    }

    .input-group input {
        width: 100% !important;
        margin-bottom: 10px;
        margin-right: 0 !important;
    }

    .item {
        width: 100% !important;
    }
}